body {
  padding: 0;
  margin: 0;
  color: white;
  margin: 0;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#background {
  background-image: url(picture.jpg);
  background-size: cover;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}
.middle {
  align-self: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

.top-left {
  font-size: 20px;
  top: 0;
  font-family: "Courier New", Courier, monospace;
}

.buttom-left {
  font-size: 20px;
  bottom: 0;
  align-self: center;
}

hr {
  width: 50%;
}

#time {
  color: rgb(184, 238, 191);
  border: 2px dotted rgba(231, 231, 231, 0.1);
}
